:root{
    --black-color: #050505 ;
    --white-color: #fff;
    --text-color:#65676b;
    --hover-color: rgb(231, 231, 231);
    --main-color:whitesmoke;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: fixed;
    top: 56px;
    display: flex;
    flex-direction: column;
    width: 360px;
}
.sidebar--left{
    left: 0;
}
.sidebar--right{
    right: 0;
}
.sidebar--scroll{
    height: 680px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sidebar--scroll::-webkit-scrollbar{
    width: 8px;
    background-color: whitesmoke;
}
.sidebar--scroll::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color: rgb(212, 209, 209);
}
.sidebar--scroll:hover{
    overflow-y: scroll;
}
.sidebar__item{
    display: flex;
    align-items: center;
    width: 344px;
    height: 52px;
    border-radius: 8px;
    text-decoration: none;
    padding: 0 12px 0 8px;
    margin-left: 8px;
    box-sizing: border-box;
}
.sidebar__item--overhight{
    height: 147px;
}
.sidebar__item:hover{
    background-color:var(--hover-color) ;
    cursor: pointer;
}
.sidebar__icon{
    margin-right: 12px;

}
.sidebar__text-heading{
    font-size: 1.4rem;
    color: var(--black-color);
    margin: 0;
    font-weight: 550;

}
.sidebar__text-subheading{
    font-size: 1.2rem;
    margin: 0;
    line-height: 16px;
    color:#1e73e2;

}
.sidebar__subheading-icon{
    font-size: 8px;

}

.avt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.avt--s{
    width: 28px;
    height: 28px;
}
.avt--l{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}
.avt--xl{
    width: 131px;
    height: 131px;
    box-sizing: border-box;
}
.avt--circle{
    border-radius: 50%;
    background-color: #dad8d8;
}
.avt--square{
    border-radius: 8px;
}
.avt--hover{
    position: absolute;
    width: 40px;height: 40px;
    border-radius: 50%;
}
.avt--hover:hover{
    background-color:rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.avt__icon{
    font-size: 20px;
    color: var(--black-color);
}
.avt__activate{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.avt__activate-icon{
    color: #13c74f;
    font-size: 8px;

}

.license{
    padding: 0 12px;
    color: rgb(117, 113, 113);
}
.license__item{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(117, 113, 113);
}
.license__item--hover:hover{
    text-decoration:underline;
}
.license__icon{
    font-size: 18px;
    padding: 0 1px;
    line-height: 2px;
}

.btn{
    height: 40px;
    min-width: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 8px;
}
.btn:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.btn__icon{
    margin-right: 12px;
    font-size: 24px;
}
.btn__icon--red{
    color: rgb(226, 15, 58);
}
.btn__icon--blue{
    color: rgb(19, 206, 19);
}
.btn__icon--orange{
    color: orange;
}
