.header{
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: var(--white-color);
    justify-content: space-between;
    z-index: 2;
}
.header__banner{
    width: 320px;
    display: flex;
    align-items: center;
}

.header__logo{
    position: relative;
    height: 39px;
    margin-left: 16px;
    display: block;
}
.header__logo-icon{
    color:#1E90FF;
    font-size: 40px;

}
.header__search{
    position: fixed;
    align-self: flex-start;
    z-index: 1;
    width: 360px;
    background-color: var(--white-color);
    box-shadow: 5px 5px 4px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}
.header__search-header{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header__search-btn{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: none;
    background-color: var(--white-color);
    display:none ;
}
.header__search-btn:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.header__search-btnIcon{
    color: rgb(124, 123, 121);
    font-size: 18px;
}
.header__search-form{
    display: flex;
    align-items: center;
}
.header__search-label{
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 12px;
    margin-left: 12px;
    height: 40px;
    width: 280px;
    background-color: whitesmoke;
}
.header__search-icon{
    font-size: 16px;
    color: rgb(124, 123, 121);
    padding-right: 12px;
}
.header__search-input{
    font-size: 16px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

                 /* history */
.header__search__container{
    flex-direction: column;
    display: none;
}
.header__search__container-recently{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__search__container-recently--text{
    padding-left: 12px;
    font-size: 18px;

}
.header__search__container-recently-edit{
    margin-right: 12px;
    padding: 8px 4px;
    border-radius: 4px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(79, 138, 216);
}
.header__search__container-recently-edit:hover{
    background-color: rgb(238, 234, 234);
}
.header__search__container-history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 340px;
    border-radius: 8px;
    align-self: center;
}
.header__search__container-history:last-child{
    margin-bottom: 12px;
}
.header__search__container-history:hover{
    background-color: rgb(238, 234, 234);
}
.header__search__container-content{
    display: flex;
    align-items: center;


}
.header__search__container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--text-color);
    background-color: rgb(248, 247, 247);
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 4px;
    border: 1px solid rgb(238, 234, 234);
}
.header__search__container-text{
    font-size: 15px;
    color: var(--text-color);

}
.header__search__container-close{
    font-size: 16px;
    padding: 6px 8px;
    margin-right: 8px;
    border-radius: 50%;
    color: var(--text-color);
}
.header__search__container-close:hover{
    background-color: rgb(207, 207, 206);
}


.header__windown{
    display: flex;
    align-self: center;

}
.header__thisWindown-item{
    width: 100px;
    height: 54px;
    border-bottom: 4px solid #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.header__thisWindown-icon{
    font-size: 24px;
    color:#1E90FF;
}

.header__note{
    position: absolute;
    top: 60px;
    background-color: var(--black-color);
    opacity: 0.9;
    color:var(--white-color) ;
    padding: 10px 14px;
    display: none;
    border-radius: 8px;
    font-size: 12px;
    opacity: 0.8;

}
.header__thisWindown-item:hover .header__note-home,
.header__windown-Market:hover .header__note-Market,
.header__windown-Group:hover .header__note-Group,
.header__windown-Game:hover .header__note-Game{
    display: block;
}
.header__windown-item{
    position: relative;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


}
.radius{
    width: 24px;
    height: 24px;
    border: 2px solid rgb(78, 76, 76);
    border-radius: 12px;
}
.header__windown-icon1{
    font-size: 12px;
    padding-bottom: 8px;
}
.header__windown-icon{
    font-size: 24px;
    color: rgb(78, 76, 76);
}
.header__windown-Market:hover,
.header__windown-Group:hover,
.header__windown-Game:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
}

.header__funtions{
    display: flex;
    align-items: center;
    margin-right: 16px;

}
.header__profile{
    height: 34px;
    width: 84px;
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
.header__profile:hover{
    border-radius: 14px;
    background-color: rgb(243, 239, 239);
}
.header__profile-avt{
    margin-right: 8px;
    margin-left: 4px;
}
.header__btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__btn:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.header__btn-icon{
    font-size: 18px;
}

.header__btn--menu:hover .header__note-menu,
.header__btn--messenger:hover .header__note-messenger,
.header__btn--notify:hover .header__note-notify,
.header__btn--account:hover .header__note-account{
    display: block;
}

/* ========= menu================= */
.header__menu-label{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: none;
    overflow: hidden;
}
.header__menu{
    position: absolute;
    top: 52px;
    right: 20px;
    width: 608px;
    height: 680px;
    background-color: rgb(247,248,250);
    border-radius: 8px;
    box-shadow: 5px 5px 4px rgb(0 0 0 / 10%);
    z-index: 1;
}
.header__menu-header{
    display: flex;
    justify-content: left;
    padding: 12px 20px;
    font-size: 24px;
    font-weight: 700;

}
.header__menu-container{
    height: 608px;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
}
.header__menu-search{

}
.header__menu-search-label{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 12px;
    margin: 12px ;
    height: 32px;
    width: 330px;
    background-color: whitesmoke;
}
.header__menu-search-icon{
    font-size: 16px;
    color: rgb(124, 123, 121);
    padding-right: 12px;
}
.header__menu-search-input{
    font-size: 16px;
    height: 32px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}
.header__menu-content{
    margin-left: 16px;
    width: 360px;
    min-height: 1870px;
    background-color: #fff;
    border-radius: 8px;
    border-left:1px solid rgb(228, 228, 228);
    border-right:1px solid rgb(228, 228, 228);


}
.header__menu-box{
    margin: 0 20px;
    padding-bottom: 12px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(211, 211, 211);
}
.header__menu-box:last-child{
    border: none;
}
.header__menu-box-header{
    align-self: start;
    padding: 0 8px 8px 8px;
    font-size: 17px;
    font-weight: 700;
}
.header__menu-ingredient{
    display: flex;
    width: 344px;
    height: 70px;
    margin: 0 -12px;
}
.header__menu-ingredient:hover{
    background-color: whitesmoke;
    border-radius: 12px;
}
.header__menu-ingredient--img{
    width: 36px;
    height: 36px;
    margin: 0 8px;
    margin-top: 4px;

}
.header__menu-ingredient-text{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly

}
.header__menu-ingredient-h1{
    align-self: start;
    font-size: 14px;
    color: #050505;
    margin: 0;

}
.header__menu-ingredient-p{
    text-align: left;
    margin: 0;
    color: var(--text-color);
    font-size: 13px;
}
.header__menu-sidebar{
    position: fixed;
    right: 38px;
    width: 200px;
    height: 546px;
    background-color: #fff;
    border-radius: 8px;

}
.menu__sidebar-header{
    text-align: left;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
}
.menu__sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px 12px 4px;


}
.menu__sidebar-content{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 12px;
}
.menu__sidebar-content:last-child{
    margin: 12px 0;
    padding-bottom: 12px;
    border: none;
}
.menu__sidebar-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4px;
    width: 184px;
    height: 52px;
    border-radius: 8px;
}
.menu__sidebar-item:hover{
    background-color: whitesmoke;
}
.menu__item-boxIcon{
    width: 36px;
    height: 36px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: rgb(219, 219, 219);
    display: flex;
}
.menu__boxIcon-icon{
    font-size: 20px;
    margin: auto;
}
.menu__item-text{
    width: 128px;
    text-align: left;
    font-size: 15px;

}

/* container */

/* sidebar */
.container{
    display: flex;
    justify-content: center;
    width:100%;
    min-height: 5000px;
    background-color: var(--main-color);
    position: absolute;
    top: 56px;
    left: 0;
}
.sidebar__menu{
    position: relative;
    margin-top: 16px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
}
.sidebar__menu::after{
    content: "";
    position: absolute;
    width: 328px;
    top: 100%;
    border-bottom: 1px solid #acaaaa;

}
.sidebar__menu-short{

}
.sidebar__seemore{

}
.sidebar__menu-more{
    display: none;
}
.sidebar__shortcuts{
    margin-bottom: 12px;
}
.sidebar__shortcuts:hover .shortcuts__header-edit{
    display: inherit;
}
.shortcuts__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shortcuts__header-text{
    font-size: 1.5rem;
    margin: 12px 0 4px 8px;
    padding: 8px 0;
    color: #6e6d6d;

}
.shortcuts__header-edit{
    font-size: 1.4rem;
    color: #1e73e2;
    margin: 12px 0 4px 8px;
    padding: 8px 4px;
    border-radius: 4px;
    display: none;
}
.shortcuts__header-edit:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.content{
    padding: 12px 0;
    width: 600px;
}
/* story */
.content__story{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
}

.content__story-item{
    position: relative;
    display: flex;
    width: 110px;
    height: 200px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0px 0px 1px #bbbbbb;
}
.content__story-item:hover .addstory__img{
    transform: scale(1.04);
}
.content__story-item:hover ,
.content__story-item:hover .addstory__btn{
    background-color: rgb(224, 224, 224);
}
.addstory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.addstory__img{
    width: 110px;
    height: 144px;
    object-fit: cover;
    transition: all .3s ease;
}
.addstory__text{
    color: var(--black-color);
    font-size: 12px;
    margin: 8px 0;
}
.addstory__btn{
    position: absolute;
    top: 124px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.addstory__icon{
    font-size: 32px;
    color: rgb(38, 110, 204);

}
.story__img{
    width: 110px;
    height: 200px;
    object-fit: cover;
    transition: all .3s ease;
}
.vvv{
    position: absolute;
    width: 110px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}
.content__story-item:hover .story__img{
    transform: scale(1.04);
}
.content__story-item:hover .vvv{
    background-color: rgba(0, 0, 0, 0.4);

}
.story__avt{
    position: absolute;
    top: 8px;
    left: 8px;
    border: 4px solid #1E90FF;
}
.story__name{
    position: absolute;
    bottom: 8px;
    color: var(--white-color);
    font-size: 14px;
    padding: 0 12px;
}
.story__seemore{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:var(--white-color);
    display: flex;
    border: 1px solid #989898;
    text-decoration: none;
}
.story__seemore:hover{
    background-color: #ececec;
}
.story__seemore-icon{
    font-size: 20px;
    margin: auto;
    color: #757575;
}
.story__seemore-sub{
    position: absolute;
    top: 50%;
    transform: translate(50%, 24px);
    right: 50%;
    width: 100px;
    background-color:rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    display: none;
}
.story__seemore:hover .story__seemore-sub{
    display: block;
}
.story__seemore-text{
    color: var(--white-color);
    font-size: 12px;
    padding: 0 12px;
    margin: 8px 0;
}
/* status */
.content__status{
    width: 100%;
    height: 123px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0px 0px 1px #bbbbbb;
}
.status__header{
    display:flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 12px 0;
    border-bottom: 1.5px solid var(--main-color);
}
.status__header-avt--hover{
    position: absolute;
    width: 40px;height: 40px;
    border-radius: 50%;
}
.status__header-avt--hover:hover{
    background-color:rgba(0, 0, 0, 0.1);
}
.status__header-post{
    display: flex;
    align-items: center;
    width: 510px;
    background-color: var(--main-color);
    padding-left: 12px;
    border-radius: 20px;
}
.status__header-post:hover{
    background-color: #e4e1e1;
    cursor: pointer;
}
.status__header-text{
    font-size: 1.7rem;
    color: #757373;
}
.status__more{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
