.header{
    height: 56px;
    display: flex;
    background-color: var(--white-color);
    justify-content: space-between;
}
.header__banner{
    display: flex;
    align-self: center;
}

.header__logo{
    position: relative;
    height: 39px;
    margin-left: 16px;
}
.header__logo-icon{
    color:#1E90FF;
    font-size: 40px;

}
.header__search{
    position: relative;
}
.header__search-label{
    position: absolute;
    left: 24px;
    top: 12px;
}
.header__search-icon{
    font-size: 16px;
    color: rgb(124, 123, 121);

}
.header__search-input{
    height: 40px;
    width: 280px;
    font-size: 16px;
    padding-left: 38px;
    margin-left: 12px;
    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
    outline: none;
}

.header__windown{
    display: flex;
    align-self: center;

}
.header__thisWindown-item{
    width: 100px;
    height: 54px;
    border-bottom: 4px solid #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.header__thisWindown-icon{
    font-size: 24px;
    color:#1E90FF;
}

.header__note{
    position: absolute;
    top: 60px;
    background-color: var(--black-color);
    opacity: 0.9;
    color:var(--white-color) ;
    padding: 10px 14px;
    display: none;
    border-radius: 8px;
    font-size: 12px;
    opacity: 0.8;

}
.header__thisWindown-item:hover .header__note-home,
.header__windown-Market:hover .header__note-Market,
.header__windown-Group:hover .header__note-Group,
.header__windown-Game:hover .header__note-Game{
    display: block;
}
.header__windown-item{
    position: relative;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


}
.radius{
    width: 24px;
    height: 24px;
    border: 2px solid rgb(78, 76, 76);
    border-radius: 12px;
}
.header__windown-icon1{
    font-size: 12px;
    padding-bottom: 8px;
}
.header__windown-icon{
    font-size: 24px;
    color: rgb(78, 76, 76);
}
.header__windown-Market:hover,
.header__windown-Group:hover,
.header__windown-Game:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
}
.container{
    width:100%;
    height: 5000px;
    background-color: rgb(243, 239, 239);
}
.header__funtions{
    display: flex;
    align-items: center;
    margin-right: 16px;

}
.header__profile{
    height: 34px;
    width: 84px;
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
.header__profile:hover{
    border-radius: 14px;
    background-color: rgb(243, 239, 239);
}
.header__profile-avt{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 4px;
}
.header__btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__btn:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.header__btn-icon{
    font-size: 18px;
}

.header__btn--menu{}